__pycache__/
*.py[cod]
*.egg-info/
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.venv/
venv/

data/
outputs/
runs/
checkpoints/

weights/*
!weights/README.md
wheels/*
!wheels/README.md

third_party/Vim/.git/

*.log
.DS_Store
